@model List<TableTest>
@{
    ViewBag.Title = "Home Page";
    string username = "Modelimizden Gelen Kullanıcı Adı"; // Kullanıcı adınızı buraya atayın
}

<div class="alert alert-info" role="alert">
    Hoş geldin, @username!
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>FullName</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TableId</td>
                <td>@item.FullName</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
            </tr>
        }
    </tbody>
</table>
