@{
    ViewBag.Title = "Login";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://www.turuncuakademi.com.tr/files/app/360x203/2018-01/1jpg_NR5n9.jpg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post" action="/Account/Login">
            <input type="text" id="login" class="fadeIn second" name="Username" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="Password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <div>
            <input type="checkbox" />
            <label>Remember me</label>
        </div>
    </div>
</div>
